<!-- views/reviews-show.handlebars -->

<a href="/">Back to Home</a>
<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <h1>{{donation.title}}</h1>
    <h2>{{donation.amount}}</h2>
    <p>{{donation.description}}</p>



    <p><a href="/donations/{{donation._id}}/edit">Edit</a></p>

    <p><form method="POST" action="/donations/{{donation._id}}?_method=DELETE">
        <button type="submit">DELETE</button>
    </form></p>



    <!-- Comment form -->
    {{> comment-form}}

    <hr>
   <!-- Show Comments -->
    {{#each comments}}
        {{>comment}}
    {{/each}}

  </div>
</div>
